<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='./css/styles.css'>
    <title>Weather</title>
    
</head>
<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>{{errorMessage}}</p>
    </div>
    <h1>{{>footer}}</h1>
</body>
</html>